body{
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.logo{
    position: absolute;
    margin: 15px;
}

.textMod{
    position: absolute;
    margin: 90px;
    resize: none;
    border: none;
    outline: none;
    color:#0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #E5E5E5;
}

/*place holder with style*/
::placeholder{
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.advertencia{
    display: block;
}